<!doctype html>
<title>Available Slides</title>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style type="text/css">
li {
    list-style-type: none;
    margin: 0.4em 0;
}
li.none {
    font-style: italic;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #addeb2;
}
</style>
    <table border="1px" class="table table-striped table-hover">
        <thead>
        <tr >
            <th scope="col">Slide Filename</th>
            <th scope="col">Slide Number</th>
            <th scope="col">Slide Description</th>
            <th scope="col">Genus</th>
            <th scope="col">Species</th>
            <th scope="col">Stain</th>
            <th scope="col">Source</th>
            <th scope="col">Contributor</th>
            <th scope="col">Accession Number</th>
            <th scope="col">Processing</th>
            <th scope="col">Comments</th>
            <th scope="col">Date Sent to Aperio</th>
            <th scope="col">Sample</th>
            <th scope="col">Infect/Non</th>
            <th scope="col">Study</th>
            <th scope="col">Collection Site</th>
            <th scope="col">Histopathologic Description</th>
            <th scope="col">Attachment</th>

        </tr>
        </thead>
    {% for entry in root_dir.children recursive %}
            <tr>
                <th scope="row">
            {% if entry.url_path %}
                <a href="{{ url_for('slide', path=entry.url_path) }}">
                    {{ entry.name }}
                </a>
                <td>{{ entry.slide_number }} </td>
                <td>{{ entry.slide_description }} </td>
                <td>{{ entry.genus }} </td>
                <td>{{ entry.species }} </td>
                <td>{{ entry.stain }} </td>
                <td>{{ entry.source }} </td>
                <td>{{ entry.contributor }} </td>
                <td>{{ entry.accession_number }} </td>
                <td>{{ entry.processing }} </td>
                <td>{{ entry.comments }} </td>
                <td>{{ entry.date_sent_to_aperio }} </td>
                <td>{{ entry.sample }} </td>
                <td>{{ entry.infect }} </td>
                <td>{{ entry.study }} </td>
                <td>{{ entry.collection_site }} </td>
                <td>{{ entry.histopath_description }} </td>
                <td>{{ entry.attachment }} </td>
            {% else %}
                {{ entry.name }}
            {% endif %}

            {% if entry.children %}
                <ul>
                    {{ loop(entry.children) }}
                </ul>
            {% endif %}
                </th>

            </tr>
    {% else %}
        <li class="none">None</li>
    {% endfor %}
    </table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>