<html>
  <head>
      <title>Coral Virtual Microscope</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/style.css">
      <script src="https://kit.fontawesome.com/f9399c1fb9.js" crossorigin="anonymous"></script>
  </head>
  <body>
  <div id="wrapper" class="container-fluid">
      {% include 'sidebar.html' %}
      <div id="page-content-wrapper">
          <div class="container-fluid scrolling-wrapper">

          <a href="#menu-toggle" class="fa fa-align-justify" id="menu-toggle"></a>
              <!--<div class="row">-->
                  <!--<div class="col-lg-12">-->
                      <div class="h-100 row align-items-center text-center">
                          <div class="col">
                              Welcome to the Coral Virtual Microscope!
                          </div>
                      </div>
                  <!--</div>-->
              <!--</div>-->
          </div>
      </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script  src="/static/script.js"></script>

  </body>
</html>