<html>
  <head>
      <title>Coral Virtual Microscope</title>
  </head>
  <body>
  <div id="wrapper" class="container-fluid">
      {% include 'sidebar.html' %}

      <div id="page-content-wrapper">
          <div class="container-fluid scrolling-wrapper">

            <div class="h-100 row align-items-center text-center">
                <div class="col">
                    Welcome to the Coral Virtual Microscope!
                </div>
            </div>
          </div>
      </div>
  </div>
  </body>
</html>