<html>
  <head>
      <title>Coral Virtual Microscope</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
      <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
  <div id="wrapper" class="container-fluid">
      {% include 'sidebar.html' %}
      <div id="page-content-wrapper">
          <div class="container-fluid scrolling-wrapper">

          <a href="#menu-toggle" class="glyphicon glyphicon-align-justify" id="menu-toggle"></a>
              <div class="row">
                  <div class="col-lg-12">
                    <span>
                        Welcome to the Coral Virtual Microscope!
                    </span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js'></script>
  <script  src="/static/script.js"></script>
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  </body>
</html>