<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/f9399c1fb9.js" crossorigin="anonymous"></script>
    <script>
        $( document ).ready(function() {
            var els = document.querySelectorAll("a[href='"+window.location.pathname+"']");
            for (var i = 0, l = els.length; i < l; i++) {
              var el = els[i];
              el.parentElement.setAttribute("class","active");
            }
        });
    </script>
</head>
<body>
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-signin" method="POST" action="/login?next={{ url_for(request.endpoint) }}">
                <div class="modal-body mx-3">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="md-form mb-5 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" id="defaultForm-email" name="email" class="form-control validate" placeholder="Your email">
                        <label data-error="wrong" data-success="right" for="defaultForm-email"/>
                    </div>
                    <div class="md-form mb-4 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" id="defaultForm-pass" name="password" class="form-control validate"  placeholder="Your password">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass"/>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <input type="submit" class="btn btn-primary" value="Login"/>
                </div>
            </form>
        </div>
    </div>
</div>
    <nav id="sidebar" class="">
        {% if current_user.is_authenticated %}
        <div class="dropdown">
            <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_user.get_id() }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="/logout">Sign Out</a>
            </div>
        </div>
        {% else %}
        <div class="mr-2 mt-2"><a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Login</a></div>
        {% endif %}
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4">
            <h1><a href="/home" class="logo"></a></h1>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="/home"><span class="fa fa-home mr-3"></span> Home</a>
                </li>
                <li>
                    <a href="/slides"><span class="fa fa-user mr-3"></span> Slides</a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="#"><span class="fa fa-briefcase mr-3"></span> Upload Slide</a>
                </li>
                {% endif %}
                <li>
                    <a href="#"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
                </li>
            </ul>

            <div class="mb-5">
                <h3 class="h6 mb-3">Subscribe for newsletter</h3>
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <div class="icon"><span class="icon-paper-plane"></span></div>
                        <input type="text" class="form-control" placeholder="Enter Email Address">
                    </div>
                </form>
            </div>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

        </div>
    </nav>

    <span style="display: inline"></span>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>