<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap-4.4.1/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select-1.13.9/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/fontawesome/f9399c1fb9.js"></script>
    <script src="/static/js/popper-1.16.0/popper.min.js"></script>
    <script src="/static/js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/datatables-1.10.20/datatables.min.css"/>
    <script type="text/javascript" src="/static/js/datatables-1.10.20/datatables.min.js"></script>

    <style>
        td.details-control {
            background: url('/static/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }
        tr.shown td.details-control {
            background: url('/static/images/details_close.png') no-repeat center center;
        }
        .bottom {
            position: absolute;
            bottom: 0;
            left: 0;
        }

    </style>
    <script>
        $( document ).ready(function() {
            var sidebarHrefs = document.getElementById('sidebar').getElementsByTagName('a');
            for (var i = 0, l = sidebarHrefs.length; i < l; i++) {
              if(sidebarHrefs[i].getAttribute("href") === window.location.pathname){
                sidebarHrefs[i].parentElement.setAttribute("class","active");
              }
            }
        } );

        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "non-empty-string-asc": function (str1, str2) {
                if(str1 == "")
                    return 1;
                if(str2 == "")
                    return -1;
                return ((str1 < str2) ? -1 : ((str1 > str2) ? 1 : 0));
            },

            "non-empty-string-desc": function (str1, str2) {
                if(str1 == "")
                    return 1;
                if(str2 == "")
                    return -1;
                return ((str1 < str2) ? 1 : ((str1 > str2) ? -1 : 0));
            }
        } );

        $( document ).ready(function() {
            $.noConflict();

            var table = $('#slideTable').DataTable( {
                 "paging": true,
                 "searching": true,
                 "stateSave": true,
                 "processing":true,
                 "ordering": true,
                 "responsive": true,
                 "ajax": {
                    "url": "allslides",
                    "type": "get"
                 },
                columnDefs: [
                    {% if current_user.is_authenticated %}
                       {type: 'non-empty-string', targets: 7}
                    {% else %}
                       {type: 'non-empty-string', targets: 6}
                    {% endif %}
                    ],
                "columns": [
                    {
                        "className":      'details-control',
                        "orderable":      false,
                        "data":           null,
                        "defaultContent": ''
                    },
                    {
                      "data": "view",
                      "orderable": false,
                      "render": function(data, type, row, meta){
                        newdata = ""
                        if(type === 'display'){
                          newdata += `<a href="full/${data}" target="_blank">`;
                          newdata += '<i class="fas fa-microscope"></i>';
                        }
                        return newdata;
                      }
                    },

                    {% if current_user.is_authenticated %}
                    {
                      "data": "edit",
                      "orderable": false,
                      "render": function(data, type, row, meta){
                        newdata = ""
                        if(type === 'display'){
                          newdata += `<a href="edit/${data}" target="_blank">`;
                          newdata += '<i class="fas fa-edit"></i>';
                        }
                        return newdata;
                      }
                    },
                    {% endif %}

                    { "data": "number" },
                    { "data": "genus" },
                    { "data": "species" },
                    { "data": "source" },
                    { "data": "contributor" },
                    { "data": "collection_site", "visible": false },
                    { "data": "stain", "visible": false },
                    { "data": "processing", "visible": false },
                    { "data": "comments", "visible": false },
                    { "data": "sample", "visible": false },
                    { "data": "study", "visible": false },
                    { "data": "histopathologic_description", "visible": false },
                    { "data": "attachment", "visible": false }
                ],
                {% if current_user.is_authenticated %}
                "order": [[ 7, "asc" ]]
                {% else %}
                "order": [[ 6, "asc" ]]
                {% endif %}
            } );

            // Add event listener for opening and closing details
            $('#slideTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child( format(row.data()) ).show();
                    tr.addClass('shown');
                }
            } );

            /* Formatting function for row details - modify as you need */
            function format ( d ) {
                // `d` is the original data object for the row
                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                    '<tr>'+
                        '<td>Collection Site:</td>'+
                        '<td>'+d.collection_site+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>Stain:</td>'+
                        '<td>'+d.stain+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>Processing:</td>'+
                        '<td>'+d.processing+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>Comments:</td>'+
                        '<td>'+d.comments+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>Infect/Non:</td>'+
                        '<td>'+d.infect+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>Sample:</td>'+
                        '<td>'+d.sample+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>Study:</td>'+
                        '<td>'+d.study+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>Histopathologic Description:</td>'+
                        '<td>'+d.histopathologic_description+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>Attachment:</td>'+
                        '<td style="white-space:pre">'+d.attachment+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>Accession Number:</td>'+
                        '<td>'+d.accession_number+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>Date Collected:</td>'+
                        '<td>'+d.date_collected+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>Date Received:</td>'+
                        '<td>'+d.date_received+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>Date Sent to Aperio:</td>'+
                        '<td>'+d.date_sent_to_aperio+'</td>'+
                    '</tr>'+
                '</table>';
            }
        });
    </script>
</head>
<body>
<nav id="sidebar" class="">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div class="p-4">
        <h1><a href="/home" class="logo"></a></h1>
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="/home"><span class="fa fa-home mr-3"></span>Home</a>
            </li>
            <li>
                <a href="/slides"><span class="fa fa-user mr-3"></span> Slides</a>
            </li>
            {% if current_user.is_authenticated %}
            <li>
                <a href="/upload"><span class="fa fa-briefcase mr-3"></span> Upload Slide</a>
            </li>
            {% endif %}
            <li>
                <a href="/courses"><span class="fa fa-sticky-note mr-3"></span> Courses</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        All rights reserved | This template is made with <i class="fas fa-heart"></i> by <a
            href="https://colorlib.com" target="_blank">Colorlib.com</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </div>
</nav>

<span style="display: inline"></span>
<script src="/static/js/bootstrap-4.4.1/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-select-1.13.9/bootstrap-select.min.js"></script>
<script src="/static/js/bootstrap-select-1.13.9/defaults-en_US.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>